.premium-container{
    display: flex;
    padding: 0px 50px;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0;
}

.premium-container-frame1{
    display: flex;
    width: 550px;
    height: 675px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.frame1-position-perfil{
    display: flex;
    overflow: hidden;
    background: #FFF;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.frame1-perfil{
    display: flex;
    align-items: center;
    gap: 50px;
}

.perfil-img{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    background: var(--Padaria, lightgray 50% / cover no-repeat);  
}

.perfil-name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.text-name h1{
    color: var(--Preto, #000);
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text-name p{
    color: var(--Preto, #000);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.perfil-name i{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--Preto, #000);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text-name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
}

.frame1-carrossel{
    display: flex;
    width: 550px;
    overflow: hidden;
    align-items: center;
    gap: 40px;
}

.frame1-carrossel-img{
    display: flex;
    width: 360px;
    height: 450px;
    overflow: hidden;
    padding: 18px 19px;
    border-radius: 40px;
    background: var(--Background-2-Padaria, lightgray 50% / cover no-repeat);
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.premium-container-frame2{
    display: flex;
    width: 592px;
    overflow: hidden;
    padding: 15px 0px;
    border-radius: 40px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 37px;
    flex-shrink: 0;
}

.frame2-titulo h1{
    align-self: stretch;
    color: var(--Verde-Claro, #0DCE8E);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.frame2-info{
    display: flex;
    width: 592px;
    padding: 0px 20px;
    justify-content: space-between;
    align-items: center;
}

.frame2-info-contato{
    display: flex;
    width: 255px;
    padding: 0px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;
    align-self: stretch;
}

.frame2-info-funcionamento{
    display: flex;
    width: 255px;
    height: 157px;
    padding: 0px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    flex-shrink: 0;
}

.info-funcionamento{
    display: flex;
    width: 257px;
    align-items: center;
    gap: 15px;
}

.info-funcionamento div,
.redessociais div{
    width: 20px;
    height: 20px;
    border: 50%;
    background: lightgray 50% / contain no-repeat;
    flex-shrink: 0;
}

.frame2-info-barra{
    width: 0;
    height: 120px;
    border-left: 1px solid black;
}

.frame2-map{
    display: flex;
    width: 535px;
    height: 314px;
    overflow: hidden;
    padding: 10px;
    border-radius: 8px;
    background: lightgray 50% / cover no-repeat;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.frame2-redes{
    display: flex;
    padding: 0px 40px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.redessociais{
    display: flex;
    align-items: center;
    gap: 15px;
}

@media screen and (max-width: 376px) {
    .premium-container{
        flex-direction: column;
        padding: 0px 20px;
        justify-content: space-around;
        align-items: center;
        margin: 20px 0;
    }

    .frame1-position-perfil{
        justify-content: center;
    }

    .perfil-img{
        width: 100px;
        height: 100px;
    }

    .text-name h1{
        font-size: 20px;
    }

    .text-name p{
        font-size: 15px;
    }

    .perfil-name i{
        font-size: 20px;
    }

    .frame1-carrossel{
        margin: 20px;
        width: 350px;
        gap: 20px;
        
    }

    .frame1-carrossel-img{
        display: flex;
        width: 250px;
        height: 300px;
        overflow: hidden;
        padding: 18px 19px;
        border-radius: 40px;
        justify-content: start;
        align-items: center;
        gap: 10px;
    }

    .premium-container-frame1{
        height: 100%;
    }

    .premium-container-frame2{
        display: flex;
        width: 100%;
        height: 810.5px;
        overflow: hidden;
        padding: 15px 20px;
        border-radius: 40px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 37px;
        align-self: stretch;
    }

    .frame2-titulo{
        align-self: stretch;
        color: var(--Verde-Claro, #0DCE8E);
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;
    }

    .frame2-info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        align-self: stretch;
    }

    .frame2-info-funcionamento{
        display: flex;
        width: 255px;
        height: 157px;
        padding: 0px 10px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 15px;
        flex-shrink: 0;
    }

    .frame2-info-barra{
        width: 255px;
        height: 1px;
        background: #B9B9B9;
        border: none;
    }

    .frame2-map{
        display: flex;
        width: 100%;
        height: 182px;
        overflow: hidden;
        padding: 10px;
        border-radius: 8px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        align-self: stretch;
    }

    .frame2-redes{
        display: flex;
        padding: 0px 40px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        align-self: stretch;
    }
}