.sucessregister-conteudo {
    display: flex;
    overflow: hidden;
    padding: 40px;
    background: var(--Branco, #FFF);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
}


.sucess_pj-conteudo-titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    width: 500px;
}

.sucess_pj-conteudo-titulo h1 {
    color: var(--Preto, #000);
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sucess_pj-conteudo-titulo p{
    width: 435px;
}

.span-h1 {
    color: var(--Verde-Claro, var(--Preto, #0DCE8E));
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.span-p {
    color: var(--Verde-Claro, var(--Preto, #0DCE8E));
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sucessregister-conteudo-position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    align-self: stretch;
}

.perfilpf_pj-btn2 {
    display: flex;
    width: 543px;
    height: 108px;
    justify-content: center;
    align-items: center;
}

.perfilpf_pj-btn2 button {
    display: flex;
    width: 200px;
    height: 40px;
    overflow: hidden;
    padding: 26px 36px;
    border-radius: 44px;
    box-shadow: 4px 6px 5px 2px rgba(0, 0, 0, 0.25);
    background: var(--Laranja, #FF974F);
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: none;
    color: #FFF;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.perfilpf_pj-btn2 a{
    color: #0DCE8E;
    text-decoration: none;
}

@media screen and (max-width: 376px) {

    .sucessregister-conteudo{
        padding: 40px 0;
    }
    
    .sucessregister-conteudo{
        height: 100%;
    }

    .sucessregister-conteudo-position {
        gap: 50px;
        align-items: center;
    }

    .sucess_pj-conteudo-titulo{
        align-items: center;
    }

    .sucess_pj-conteudo-titulo p{
        width: 366px;
        text-align: center;
    }

    .perfilpf_pj-btn2{
        flex-direction: column;
        gap: 25px;
        height: 100%;
    }
}