.registerpf-img{
    display: none;
}

.login-google{
    display: flex;
    width: 535px;
    height: 70px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--Cinza-No-Selecionando, #CCC);
    background: var(--Branco, #FFF);
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
}

.login-google div{
    width: 35px;
    height: 35px;
    background: #ccc ;
    flex-shrink: 0;
    border-radius: 50%;
}

.login-google p{
    color: var(--Preto, #000);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.login-ou{
    display: flex;
    width: 543px;
    padding: 10px;
    align-items: center;
    gap: 10px;
}

.login-ou hr{
    width: 130px;
    height: 1px;
    background: #000;
}

.inputBox a{
    color: var(--Verde-Claro, #0DCE8E);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    line-height: normal;
    text-decoration-line: underline;
    font-weight: 700;
    position: absolute;
    transform: translateX(-1px) translateY(-32px);
    flex-shrink: 0;
}

.inputBox div{
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 50%;
    transform: translateX(500px) translateY(-42px);
    font-size: 12px;
    padding: 0 10px;
    border-radius: 50%;
    cursor: pointer;
}

.registerpf-btn button{
    cursor: pointer;
}

.registerpf-btn a{
    text-decoration: none; 
}

.validation-error{
    color: red;
    text-decoration: underline;
    font-size: 15px;
    animation: fadeIn 1s forwards;
}

@media screen and (max-width: 376px) {

    .registerpf-conteudo-titulo h1{
        padding: 0;
    }

    .registerpf{
        display: flex;
        width: 375px;
        overflow: hidden;
        background: var(--Branco, #FFF);
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .registerpf-conteudo-position{
        justify-content: flex-start;
        gap: 22px;
    }

    .registerpf-nav{
        display: flex;
        padding: 10px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
    }

    .registerpf-container{
        display: flex;
        padding: 40px 0px;
        justify-content: center;
        align-items: center;
        align-self: stretch;
    }

    .registerpf-img{
        display: none;
    }

    .registerpf-conteudo{
        display: flex;
        overflow: hidden;
        padding: 0px 20px;
        background: var(--Branco, #FFF);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 22px;
        border-radius: none;
        flex: 1 0 0;
        align-self: stretch;
    }

    .registerpf-conteudo-titulo{
        font-family: Inter;
        font-size: 45px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .login-google{
        display: flex;
        width: 335px;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        padding: 10px;
        border-radius: 8px;
        border: 1px solid var(--Cinza-No-Selecionando, #CCC);
        background: var(--Branco, #FFF);
        justify-content: center;
        gap: 20px;
    }

    .login-ou{
        display: flex;
        padding: 10px;
        width: 335px;
        align-items: center;
        gap: 10px;
        align-self: stretch;
    }

    .login-ou p{
        color: var(--Preto, #000);
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .login-ou hr{
        width: 70px;
    }

    .inputBox{
        width: 335px;
        height: 49.741px;
        position: relative;
        flex-shrink: 0;
    }

    .registerpf-btn{
        display: flex;
        padding: 5px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        width: 335px;
    }

    .inputBox a{
        position: absolute;
        transform: translateX(0px) translateY(-30px);
    }

}