:root {
    --black: #1a1a1a;
    --white: #fff;
    --green: #0DCE8E;
  }  

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.busquelocal-frame {
    display: flex;
    height: 181px;
    padding: 0px 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 39px;
    flex-shrink: 0;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.busquelocal-frame h1 {
    color: var(--Preto, #000);
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.search-box{
    height: 40px;
    background-color: #fff;
    border: var(--green) solid 1px;
    padding: 10px;
    border-radius: 50px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.search-text{
    background: none;
    border: 0;
    outline: 0;
    padding: 0;
    /*width: 0;*/
    font-size: 17px;
    font-style: var(--black);
    transition: 0.5s;
}

::-webkit-input-placeholder{
    font-size: 17px;
    color: #aeaeae;
}

.search-btn {
    height: 30px;
    width: 30px;
    color: var(--green);
    border-radius: 50px;
    background-color: #fff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-box:hover > .search-text{
    padding-left: 20px;
}

.search-box:hover > .search-btn{
    background-color: #0DCE8E;
    color: #fff;
}

.busquelocal-lupa {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
  }
  
.busquelocal-local {
    width: 200px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.busquelocal-pesquisas {
    display: flex;
    width: 579.5px;
    align-items: flex-start;
    gap: 127px;
    justify-content: center;
    align-items: center;
}

.message-error{
    background-color: rgb(255, 57, 57);
    color: var(--white);
    padding: 1rem;
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 15px;
    animation: fadeIn 1s forwards;
}