.busquelocal-frame{
    display: flex;
    height: 181px;
    padding: 0px 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 39px;
    flex-shrink: 0;
}

.busquelocal-frame h1{
    color: var(--Preto, #000);
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.busquelocal-busca{
    display: flex;
    width: 274px;
    padding: 5px 25px;
    border-radius: 100px;
    background: var(--Branco, #a4a4a4);
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
}

.busquelocal-lupa{
    width: 40px;
    height: 40px;
    background:lightgray 50% / contain no-repeat;
    flex-shrink: 0;
    border-radius: 100px;
}

.busquelocal-local{
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.busquelocal-pesquisas{
    display: flex;
    width: 579.5px;
    align-items: flex-start;
    gap: 127px;
    justify-content: center;
    align-items: center;
}