@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');


.planos {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.plano.titulo-principal {
    display: flex;
    width: 1280px;
    height: 189px;
    padding: 20px 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-shrink: 0;
}

.plano-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.plano-titulo h1 {
    color: var(--Preto, #000);
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    top: 0;
    left: 7px; 
    margin: 30px;
}

.plano-titulo h2 {
    color: var(--Preto, #000);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 616px;
}

.container-planos {
    display: flex;
    height: 670px;
    padding: 25px 50px;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    background: linear-gradient(359deg, #0DCE8E 1.94%, rgba(13, 206, 142, 0.28) 72.45%, rgba(13, 206, 142, 0.04) 96.29%, rgba(13, 206, 142, 0.00) 99.33%);
}

.container-planos ul{
    display: flex;
    width: 243px;
    align-items: center;
    align-content: center;
    gap: 22px 20px;
    flex-wrap: wrap;
}

.icon {
    width: 30px;
    height: 30px;
    background: url(), lightgray 50% / contain no-repeat;
    flex-shrink: 0;
}

.container-planos li{
    color: var(--Preto, #000);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.plano-titulo {
    display: flex;
    width: 312px;
    justify-content: space-between;
    align-items: center;
}


.btn-plano {
    display: flex;
    width: 200px;
    height: 50px;
    padding: 26px 36px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 44px;
    background: var(--Laranja, #FF974F);

    /* Sombra Btn1 */
    box-shadow: 4px 6px 5px 2px rgba(0, 0, 0, 0.25);
}

.plano1 {
    display: flex;
    width: 350px;
    height: 342px;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 30px;
    border: 2.5px solid var(--Verde-Claro, #0DCE8E);
    background: var(--Branco, #FFF);
}

.plano1 .um {
   color: var(--Laranja, #FF974F);
   font-family: Inter;
   font-size: 30px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   text-align: center;
}

.plano1 .dois {
    color: var(--Preto, #000);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.plano2 {
    display: flex;
    width: 350px;
    height: 587px;
    padding: 25px 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 30px;
    border: 2.5px solid var(--Verde-Claro, #0DCE8E);
    background: var(--Branco, #FFF);
}

.plano2 .um {
    display: flex;
    height: 348px;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    flex-shrink: 0;
    align-self: stretch;
}

.plano2 .dois {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

/* Plano 3 quase completo, falta por os icones*/

.plano3 {
    display: flex;
    width: 350px;
    height: 450px;
    padding: 40px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 30px;
    border: 2.5px solid var(--Verde-Claro, #0DCE8E);
    background: var(--Branco, #FFF);
    position: relative;
}

.bloco {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
    margin-top: 70px;
}

.bloco h2 {
    font-size: 5px; /* Tamanho da fonte */
  }
  
  .bloco h2::before {
    content: "R$ 150"; /* Adicione o símbolo R$ antes do texto */
    color: orange; /* Cor laranja para a parte "R$" */
  }
  
  .bloco h2::after {
    content: "/mês"; /* Adicione " / mês" após o texto */
    color: grey; /* Cor cinza para a parte " / mês" */
  }
  
.bloco h2 {
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}

.bloco h3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}


.btn-bloco {
    display: flex;
    width: 200px;
    height: 50px;
    overflow: hidden;
    padding: 26px 36px;
    border-radius: 44px;
    box-shadow: 4px 6px 5px 2px rgba(0, 0, 0, 0.25);
    background: var(--Laranja, #FF974F);
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: none;
}