.card {
    display: flex;
    height: 380px;
    padding: 0px 230px;
    margin: 30px 0px;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    gap: 50px;
}

.card-content {
    display: flex;
    width: 550px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    flex-shrink: 0;
}

h2 {
    color: var(--Preto, #000);
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p {
    color: var(--Preto, #000);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn-card {
    display: flex;
    width: 200px;
    height: 55px;
    overflow: hidden;
    padding: 26px 36px;
    border-radius: 44px;
    box-shadow: 4px 6px 5px 2px rgba(0, 0, 0, 0.25);
    background: var(--Laranja, #FF974F);
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    color: #FFF;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.btn-card:hover {
    background-color: #fca466;
    transition: 0.5s;
}


.card-image {
    width: 414px;
    height: 375px;
}