@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.card {
    display: flex;
    height: 380px;
    padding: 0px 230px;
    margin: 30px 0px;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    gap: 50px;
    animation: fadeIn 1s ease-in-out forwards;
}

.card-content {
    display: flex;
    width: 550px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    flex-shrink: 0;
}

h1 {
    color: var(--Preto, #000);
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'Source Serif 4', serif;
}

p {
    color: var(--Preto, #000);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn-card {
    display: flex;
    width: 200px;
    height: 55px;
    overflow: hidden;
    padding: 26px 36px;
    border-radius: 44px;
    box-shadow: 4px 6px 5px 2px rgba(0, 0, 0, 0.25);
    background: var(--Laranja, #ff8630);
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    color: #FFF;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.btn-card:hover {
    background-color: #ff974f;
    transition: 0.5s;
}


.card-image {
    width: 414px;
    height: 375px;
}

@media screen and (max-width: 1024px) {
    .card {
        padding: 0 50px;
    }
}

@media screen and (max-width: 768px) {
    .card {
        flex-direction: column;
        align-items: center;
    }

    .card-content {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .btn-card {
        width: 100%;
    }

    .card-image {
        width: 100%;
        height: auto;
    }
}


@media screen and (max-width: 376px) {

    .card{
        align-items: center;
        height: 100%;
    }

    .card-image{
        width: 300px;
        height: 271.739px;
    }

    .card-image img{
        display: flex;
        align-items: center;
        width: 300px;
        height: 271.739px;

    }
}