@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');


.header {
    display: flex;
    height: 100px;
    padding: 0px 20px;
    background: var(--Verde-Claro, #0DCE8E);
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 65px;

}

.header-nav a{
    color: var(--Preto, #000);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

a:hover {
    color: #303030;
}

.logo {
    width: 147px;
    flex-shrink: 0;
    color: var(--Verde-Claro, var(--Preto, #000));
    font-family: Gochi Hand;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.24px;
    text-decoration: none;
}

.info2 {
    color: var(--Verde-Claro, var(--Branco, #fff));
    font-family: Gochi Hand;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.24px;
}

.header-conect {
    display: flex;
    width: 350px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    color: var(--Preto, #000);
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

nav a {
    color: #000;
    text-decoration: none;
}

.header-btn { 
    display: flex;
    width: 190px;
    height: 45px;
    overflow: hidden;
    padding: 26px 0px;
    border-radius: 10000px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: var(--Branco, #FFF);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    border: none;
    color: var(--Preto, #000);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

header .point {
    color: #000000;
    font-size: 40px;
    padding-bottom: 20px;
}

header div,
nav {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        /* Coloca os elementos verticalmente */
        align-items: flex-start;
    }

    nav {
        margin-top: 10px;
        /* Espaço superior entre a logo e os links */
    }

    nav a {
        display: block;
        /* Exibe os links verticalmente */
        margin: 8px 0;
        /* Espaçamento entre os links */
    }
}