@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');


* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 2rem;
    background-color: #0DCE8E;
    color: #000000;
    font-family: "Inter", sans-serif;
}

.logo {
    font-size: 24px;
    font-family: 'Gochi Hand', cursive;
    display: inline-block;
    text-decoration: none;
}

.local {
    color: #000000;
}

.local :hover{
    color: #252525;
}

.info {
    color: #ffff;
}

nav a {
    margin: 0 1rem;
    color: #000000;
    text-decoration: none;
}

a:hover {
    transition: 0.5s;
    transform: scale(1.02);
}

header #nav-btn {
    margin: 0 1rem;
    padding: 8px;
    cursor: pointer;
    border: none;
    color: #000000;
    background-color: #ffff;
    font-size: 15px;
    border-radius: 40px;
    font-family: "Inter", sans-serif;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

header .point{
    color: #000000;
    font-size: 40px;
    padding-bottom: 20px;
} 

header div,
nav {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    header {
      flex-direction: column; /* Coloca os elementos verticalmente */
      align-items: flex-start;
    }
  
    nav {
      margin-top: 10px; /* Espaço superior entre a logo e os links */
    }
  
    nav a {
      display: block; /* Exibe os links verticalmente */
      margin: 8px 0; /* Espaçamento entre os links */
    }
}