*{
    margin: 0;
    padding: 0;
}

.gallery-titulos1 {
    
    display: flex;
    width: 80rem;
    height: 15.625rem;
    padding: 1.25rem 6.25rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.gallery-titulo1 {
    width: 69.125rem;
    color: var(--Preto, #000);
    text-align: center;
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.gallery-subtitulo1 {
    align-self: stretch;
    color: var(--Preto, #000);
    text-align: center;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.gallery-banner {
    display: flex;
    width: 80rem;
    padding: 0.625rem 6.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

.gallery-banner-content {

    display: flex;
    height: 25rem;
    padding: 1.125rem 6.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex: 1 0 0;
}

.gallery-titulos2 {

    display: flex;
    width: 80rem;
    padding: 1.25rem 6.25rem;
    flex-direction: column;
    align-items: center;
    gap: 2.3125rem;
}

.gallery-titulo2{

    color: var(--Preto, #000);
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.gallery-subtitulo2 {

    color: var(--Preto, #000);
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.gallery-info {
    display: flex;
    width: 80rem;
    padding: 0rem 6.25rem;
    justify-content: center;
    align-items: center;
    gap: 8.625rem;
}

.gallery-titulos3 {
    display: flex;
    width: 80rem;
    padding: 1.25rem 6.25rem;
    flex-direction: column;
    align-items: center;
    gap: 2.3125rem;
}

.gallery-titulo3 {
    width: 69.125rem;
    color: var(--Preto, #000);
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.gallery-subtitulo3 {
    align-self: stretch;
    color: var(--Preto, #000);
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.gallery-container {
    padding: 5rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 2rem;
}

.gallery-img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}

.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
}

.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
}
.gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
}