.userregister-nav {
    display: flex;
    padding: 10px 40px 10px 40px;
    justify-content: space-between;
    align-items: center;
}

.userregister-back {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border: 100px;
}

.userregister-back i{
    font-size: 50px;
    cursor: pointer;
}

.userregister-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userregister-img {
    display: none;
    width: 600px;
    height: 719.779px;
    background: lightgray 0px 0px / 100% 100% no-repeat;
}

.userregister-conteudo-position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    align-self: stretch;
    padding: 40px;
}

.userregister-conteudo {
    display: flex;
    overflow: hidden;
    background: var(--Branco, #FFF);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 78px;
    flex: 1 0 0;
    align-self: stretch;
}

.userregister-conteudo-titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11px;
    align-self: stretch;
    padding: 25px;
}

.userregister-conteudo-titulo h1 {
    color: var(--Preto, #000);
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.userregister-conteudo-titulo span {
    color: var(--Verde-Claro, var(--Preto, #0DCE8E));
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.userregister-conteudo-titulo h2 {
    color: var(--Preto, #000);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.userregister-conteudo-options {
    display: flex;
    gap: 25px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.userregister-conteudo-btn {
    display: flex;
    height: 117px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 4px 6px 5px 2px rgba(0, 0, 0, 0.25);
    background: var(--Degrade, linear-gradient(267deg, rgba(38, 209, 148, 0.40) 0%, rgba(38, 209, 96, 0.00) 100%), linear-gradient(90deg, rgba(255, 151, 79, 0.60) 32.65%, rgba(255, 151, 79, 0.36) 54.27%, rgba(255, 151, 79, 0.00) 84.71%));
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
}

.userregister-conteudo-btn h3 {
    color: var(--Preto, #000);
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.userregister-conteudo-btn p {
    width: 500px;
    color: var(--Preto, #000);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.userresister-ou {
    display: flex;
    width: 534px;
    padding: 10px;
    align-items: center;
    gap: 10px;
}

.userresister-ou hr{
    width: 238px;
    height: 1px;
}

@media screen and (max-width: 376px) {
    .userregister-conteudo-options{
        padding: 20px;
    }

    .userregister-conteudo-position{
        gap: 0px;
    }

    .userregister-conteudo-titulo{
        text-align: center;
    }

    .userregister-conteudo-btn p{
        width: 335px;
    }

    .userresister-ou{
        width: 335px;
    }

    .userregister-conteudo-btn {
        height: 150px;
        padding: 50px 10px;
    }
}