:root {
    --black: #1a1a1a;
    --white: #fff;
    --green: #0DCE8E;
    --orange: #ff8630;
  }

.dados-home {
    display: flex;
    margin: 100px 0px 30px 0px;
    width: 100%;
    padding: 100px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    animation: fadeIn 1s ease-in-out;
    background-color: var(--green);
}

.dados-home div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 30px;
    background-color: #dffff5;
    border-radius: 30px;
    padding: 25px;
}

.dados-home h1 {
    color: var(--Preto, #000);
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.dados-home p {
    color: var(--Preto, #000);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    text-align: justify;
    font-weight: 400;
    line-height: normal;
}

.dados-home span{
    color: var(--green);
}

.categorias-title {
    color: var(--green);
    padding: 50px 0px 0px 100px;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    animation: fadeIn 1s ease-in-out;
}

@media screen and (max-width: 376px) {
    .poscard-dados{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
    }

    .dados-home{
        display: flex;
        height: 100%;
        width: 320px;
        padding: 20px;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0;  
    }

    .dados-home div{
        width: 280px;
    }

    .dados-home p{
        width: 240px;
    }

    .categorias-title{
        display: flex;
        align-items: start;
        padding: 0px 0px 0px 40px;
        font-size: 25px;
    }
}