.carousel2{
    display: flex;
    width: 100%;
    overflow: hidden;
    margin: 50px 0px;
    padding: 10px 0px;
    white-space: nowrap;
    position: relative;
    align-items: center;
}

.carousel2 img {
    display: flex;
    width: 250px;
    margin: 0px 15px;
    border-radius: 50px;
    gap: 10px;
}

.carousel2:before,
.carousel2:after{
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.carousel2:hover .carousel2-slide {
    animation-play-state: paused;
  }

.carousel2-slide{
    display: flex;
    animation: 50s slide infinite linear;
}