.card2 {
    display: flex;
    margin: 50px 0px;
    padding: 0px 230px;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    gap: 50px;
}

.card2-text {
    display: flex;
    width: 563px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
}

.card2-text h1 {
    width: 516px;
    color: var(--Preto, #000);
    font-family: 'Source Serif 4', serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card2-text p {
    display: flex;
    width: 559px;
    height: 153px;
    flex-direction: column;
    justify-content: center;
    color: var(--Preto, #000);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card2-btn {
    display: flex;
    width: 200px;
    height: 55px;
    overflow: hidden;
    padding: 26px 36px;
    border-radius: 44px;
    box-shadow: 4px 6px 5px 2px rgba(0, 0, 0, 0.25);
    background: var(--Laranja, #FF974F);
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    color: #FFF;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.card2-btn:hover {
    background-color: #fca466;
    transition: 0.5s;
}

.card2-img {
    width: 410px;
    height: 410px;
    flex-shrink: 0;
}