.busquepj{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-shrink: 0;
    margin: 20px 0;
}

.busquepj-frame{
    display: flex;
    width: 1280px;
    padding: 0px 100px;
    justify-content: space-between;
    align-items: center;
}

.busquepj-card{
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 19px;
}

.busquepj-card-img{
   display: flex;
   width: 300px;
   height: 260px;
   overflow: hidden;
   padding: 18px 19px;
   border-radius: 40px;
   background: #8a8a8a;
   align-items: flex-end;
   gap: 10px; 
}

.busquepj-card-info{
    display: flex;
    align-items: center;
    gap: 25px;
}

.busquepj-perfil{
    background-color: #646464;
    width: 40px;
    height: 40px;
    border-radius: 100px;
}

.busquepj-card-info p{
    color: var(--Preto, #000);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.busquepj-icon{
    border-radius: 100px;
    width: 20px;
    height: 20px;
    background: lightgray 50% / contain no-repeat;
}

.busquepj-btn{
    display: flex;
    width: 300px;
    height: 65px;
    overflow: hidden;
    padding: 26px 36px;
    border-radius: 44px;
    box-shadow: 4px 6px 5px 2px rgba(0, 0, 0, 0.25);
    background: var(--Laranja, #FF974F);
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}