.busquepj {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    flex-shrink: 0;
    margin: 35px 0;
}

.busquepj-frame {
    display: flex;
    width: 100%;
    padding: 0px 50px;
    justify-content: center;
    align-items: start;
    align-content: start;
    gap: 25px;
    flex-shrink: 0;
    flex-wrap: wrap;
}

.busquepj-card {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 19px;
}

.busquepj-card-img {
    display: flex;
    width: 300px;
    height: 260px;
    overflow: hidden;
    padding: 18px 19px;
    border-radius: 40px;
    background: #8a8a8a;
    align-items: flex-end;
    gap: 10px;
}

.busquepj-card-info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
}

.busquepj-perfil {
    background-color: #646464;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.busquepj-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    flex: 1 0 0;
}

.busquepj-name {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.busquepj-name h1 {
    color: var(--Preto, #000);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.busquepj-card-info p {
    color: var(--Preto, #000);
    font-family: Inter;
    font-size: 15px;
    display: flex;
    font-style: normal;
    align-items: center;
    font-weight: 400;
    line-height: normal;
}

.busquepj-icon {
    width: 20px;
    height: 20px;
}

.busquepj-btn {
    display: flex;
    width: 200px;
    height: 55px;
    overflow: hidden;
    padding: 26px 36px;
    border-radius: 44px;
    box-shadow: 4px 6px 5px 2px rgba(0, 0, 0, 0.25);
    background: var(--Laranja, #ff8630);
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    color: #FFF;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.busquepj-btn:hover {
    background-color: #ff974f;
    transition: 0.5s;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #0DCE8E;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-left: 4px solid #ff8630;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 