@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.corVerde {
    color: #0DCE8E;
    font-weight: 700;
}

.corRoxo {
    background-color: #0DCE8E;
    font-weight: 500;
    color: #fff;
    border-radius: 5px;
    padding: 0 5px;
}




.about-titulo1{
    display: flex;
    flex-direction: column;
    height: 300px;
    padding: 40px;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.about-titulo1 h1{  
    color: var(--Preto, #000);
    margin: 0 150px;
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.about-titulo1 p{
    margin: 0 230px;
    width: 700px;
    text-align: center;
    border-radius: 5px;
    color: var(--Preto, #000);
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.about-section1{
    justify-content: center;
    gap: 20px;
    display: flex;
    width: 100%;
    height: 400px;
}

.container {
    height: 300px;
    position: relative;
}

.container:hover .overlay {
    bottom: 0;
    height: 100%;
}



.overlay {
    border-radius: 5px;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #202028;
    opacity: 0.6;
    overflow: hidden;
    height:0;
    transition: .5s ease;
  }

.text {
    -webkit-transform: translate(30%);
    padding-top: 100px;
    color: white;
    font-size: 20px;
  }

.image {
    border-radius: 5px;
    display: block;
    max-width: 400px;
    height: 300px;
  }

  .image{
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }

.about-titulo2{

    align-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: 0 0 75px 0;

}   

.about-section2{
    width: 100%;
    display: grid; 
    grid-template-columns: 1fr 1fr;
    margin: 0 0 50px 0;
    position: relative;
}

.bloco1 {
    width: 600px;
    height: 300px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 150px;
    left: 1px;

}

.bloco2 {
    margin-right: 20px;
    width: 600px;
    height: 300px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 100px;
    right: 35px;

}

.bloco3 {
    margin-right: 20px;
    width: 600px;
    height: 300px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 400px;
    right: 35px;

}

.bloco4 {
    width: 600px;
    height: 300px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 400px;
    left: 1px;
}

.bloco1 h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.bloco4 h1{
    text-align: center;
}

.about-section2 p{
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}
.about-section2 img{
    opacity: 1;
    height: 570px;
    width: 1340px;
}

.about-dados{
    display: flex;
    width: 100%;
    padding: 0px 100px;
    justify-content: center;
    align-items: center;
    gap: 138px;
}

.about-dados div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 33px;
}

.about-dados h1{
    color: var(--Preto, #000);
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.about-dados p{
    color: var(--Preto, #000);
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
