@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.corVerde {
    color: #0DCE8E;
    font-weight: 700;
}

.corRoxo {
    background-color: #4D1289;
    font-weight: 500;
    color: #fff;
    border-radius: 5px;
    padding: 0 5px;
}

.about-titulo1{
    display: flex;
    flex-direction: column;
    height: 300px;
    padding: 40px;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.about-titulo1 h1{  
    color: var(--Preto, #000);
    margin: 0 150px;
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.about-titulo1 p{
    margin: 0 230px;
    width: 700px;
    text-align: center;
    border-radius: 5px;
    color: var(--Preto, #000);
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.about-img-principal{

    
}

.about-img-principal div{
    display: flex;
    padding: 0 4px;
    height: 500px;
}

.about-img-principal .row .colum{
    flex: 10%;
    overflow: hidden;

}

.colum img{
    margin: 1px;

}

.about-section{
    background-color: #ececec;
}

.about-titulo2{
    padding: 100px 230px;    
    align-items: center;
    gap: 35px;
    justify-content: space-between;
}

.about-titulo2 h1{
    padding: 5px 20px ;
    color: var(--Preto, #000);
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}

.about-titulo2 p{
    border-radius: 5px;
    padding: 15px 20px ;
    background-color: #4D1289;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about-dados{
    display: flex;
    width: 100%;
    padding: 0px 100px;
    justify-content: center;
    align-items: center;
    gap: 138px;
}



.about-dados div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 33px;
}

.about-dados h1{
    color: var(--Preto, #000);
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.about-dados p{
    color: var(--Preto, #000);
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
